<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <div class="welcometxt">

        <h1>
            <%= message %>
        </h1>
    </div>

        <% if(typeof car !='undefined' ){ %>
            <div class="carbox">
                <p>What car is it: <%= car.MakeModel %>
                </p>
                <p>Year car is from: <%= car.year %>
                </p>
                <p>Is Car Nice: <%= car.nicecar %>
                </p>
                <img src="<%=  car.imageofcar %>" alt="no work">
            </div>
            <% } %>

            <!-- <% if(typeof data != 'undefined' && data.length > 0 )  { %>
		<% data.forEach(element => { %>
			<h2><%= element %></h2>
		<% });  %>
	<% } %> -->
</body>

</html>